.why-choose {
    padding: 4rem;
    background-image:  radial-gradient(at top left,#C22ED0 36%,rgba(41,154,239,1) 71%,#5FFAE0 11%);
}
.why-choose h1 {
    margin-bottom: 5rem;
    text-align: center;
    color: rgb(248, 248, 248);
    font-weight: 700;
    /* text-shadow: 0px 0px 4px black; */
    margin-top: 1rem;
    font-size: 2.5rem;
    text-transform: uppercase;

}
.why-choose .card {
    padding: 1rem;
    box-shadow: 0px 0px 4px rgb(26, 25, 25);
    height: auto;
    overflow: hidden;
    transition: .2s ease 0s;
}
.why-choose .card:hover {
    
    background-image:  radial-gradient(at top left,#C22ED0 36%,rgba(41,154,239,1) 71%,#5FFAE0 11%);
}
.why-choose .card i {
    padding-top: 2rem;
    color:#C22ED0 ;
    font-size: 3rem;
}
.why-choose .card i:hover{
    color: #fff;
}