/*------------Our Services Page CSS -------------------*/
.Ourservices {
    padding: 4rem;
    background:#fff;

}
.Ourservices h1 {
    text-align: center;
    color: #C22ED0 ;
    font-weight: 700;
    text-shadow: 0px 0px 2px black;
    margin-top: 1rem;
    font-size: 2.5rem;
    text-transform: uppercase;
}
.Ourservices  img{
    transition: all 0.4s ease 0s;
    height: 50vh;
}

.Ourservices .overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(34, 31, 30, 0.82);
    overflow: hidden;
    width: 100%;
    height: 100%;
    transition: .5s ease;
}
.Ourservices .item {
    position: relative;
    overflow: hidden;
    margin: 20px 0;
}
.Ourservices .item:hover .overlay {
    bottom: 0;
    height: 100%;
    width: 100%;
  }
  .Ourservices .top-overlay {
    bottom: 100%;    
    height: 0;
}
.Ourservices .item:hover .top-overlay {
  bottom: 0;
}
.Ourservices .text {
    color: white;
    font-size: 1.2vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-weight: 600;
}