/*-------Doctors Review Testimonial--------*/
.testimonial-container {
  background-image: radial-gradient(
    at bottom right,
    #c22ed0 36%,
    rgba(41, 154, 239, 1) 71%,
    #5ffae0 11%
  );
  background-color: #ffffff;
  line-height: 4rem;
}
.testimonial-container h1 {
  color: white;
  font-weight: 700;
  /* text-shadow: 0px 0px 4px black; */
  margin-top: 1rem;
  font-size: 2.5rem;
  text-transform: uppercase;
  text-align: center;
}
.rating-container .carousel {
  justify-content: center !important;
  align-items: center;
  text-align: center;
}
.testimonial-container > h2 {
  text-align: center;
  font-family: "Poppins", Helvetica, Arial, Lucida, sans-serif !important;
  font-size: 35px;
}
.testimonial-container-card {
  border-radius: 30px;
  width: 28rem;
  opacity: 0.9;
  margin-left: 34%;
  margin-bottom: 4rem;
  border: 1px solid black;
}
.testimonial-container-card .fa-quote-right {
  float: right !important;

  font-size: 28px;
}
.testimonial-container-card .fa-quote-left {
  float: left !important;
  font-size: 28px;
}
.testimonial-container-img {
  display: inline-block;
  border: 4px solid white;
  border-radius: 50% !important;
  box-shadow: 0 0 4px 4px #c22ed0 !important;
  overflow: hidden;
  z-index: 1;
  position: relative;
  width: 174px;
  margin-top: 20px;
  width: 174px !important;
  margin-left: 34%;
}
.testimonial-container-title {
  font-size: 25px !important;
  font-family: "Poppins", Helvetica, Arial, Lucida, sans-serif !important;
  margin-top: 20px;
}
.testimonial-container-description {
  font-size: 14px;
  color: #777;
  text-align: center;
  opacity: 0.9;
  line-height: 20px;
  margin-bottom: 40px;
  padding: 2rem;
}
.testimonial-container .rating-container {
  color: rgb(255, 251, 6) !important;
  letter-spacing: 4px;
  text-shadow: 1px 1px 1px black;
}

@media screen and (max-width: 960px) {
  .testimonial-container-card {
    margin-left: 24%;
  }
}
.carousel-indicators li {
  border-top: unset;
  width: 10px;
  border-bottom: unset;
  border: 1px solid transparent;
  border-left-width: 0;
  border-right-width: 0;
  border-radius: 10px;
  background-color: rgba(169, 29, 42, 0.4);
  height: 10px;
  width: 20px;
}

.carousel-indicators .active {
  visibility: hidden;
  display: none;
}

@media screen and (max-width: 768px) {
  .testimonial-container-card {
    margin-left: 0% !important;
    width: 100%;
  }
}
